name: Run Tests

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.2
          extensions: mbstring
      - name: Install dependencies
        run: composer install --prefer-dist --no-interaction
      - name: Run tests
        run: vendor/bin/phpunit
